body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:beige;
}

header {
    background-color: black;
    color: beige;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

table.color-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.color-table th, table.color-table td {
    border: 1px solid beige;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color:black;
}

table.color-table th {
    background-color: black;
    color: beige;
}

footer {
    background-color: black;
    color: beige;
    text-align: center;
    padding: 1em 0;
}
