body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

header {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

table.timetable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.timetable th, table.timetable td {
    border: 1px solid blanchedalmond;
    padding: 8px;
    text-align: center;
}

table.timetable th {
    background-color: black;
    color: blanchedalmond;
}

table.timetable td {
    background-color: blanchedalmond;
}

table.timetable tr:nth-child(even) td {
    background-color: blanchedalmond;
}
